# Fator de Visão de Céu a partir do LiDAR

Podemos também determinar o Fator de Visão de céu, ou Sky View Factor diretamente do LiDAR sem gerar um raster.
Para fins de performance podemos reduzir a densidade de pontos para cerca de 1 metro de resolução e a partir de cada ponto de Ground clacular a coordenada astronômica (Azimute e ALtura) e a distância linear para cada ponto das classes de Edificação e outras feições.

Para esse primeiro teste vamos apenas usar uma folha SCM, sabendo que inerferências para visão de céu podem se estender muito além dos limites das dimensões de uma folha SCM.

In [3]:
import pdal

In [12]:
pipeline="""{
  "pipeline": [
    {
        "type": "readers.las",
        "filename": "arquivos/MDS/MDS_3314-231.laz"
    }
  ]
}"""

In [13]:
r = pdal.Pipeline(pipeline)
r.validate()
r.execute()
arrays = r.arrays

In [32]:
len(arrays[0])

5273248

In [18]:
arrays[0][732]

(333497.91, 7395527.2, 735.63, 21, 1, 1, 1, 0, 6, -12., 17, 6, 356569.42377946)

In [24]:
#dir(r)
r.schema

{'schema': {'dimensions': [{'name': 'X', 'size': 8, 'type': 'floating'},
   {'name': 'Y', 'size': 8, 'type': 'floating'},
   {'name': 'Z', 'size': 8, 'type': 'floating'},
   {'name': 'Intensity', 'size': 2, 'type': 'unsigned'},
   {'name': 'ReturnNumber', 'size': 1, 'type': 'unsigned'},
   {'name': 'NumberOfReturns', 'size': 1, 'type': 'unsigned'},
   {'name': 'ScanDirectionFlag', 'size': 1, 'type': 'unsigned'},
   {'name': 'EdgeOfFlightLine', 'size': 1, 'type': 'unsigned'},
   {'name': 'Classification', 'size': 1, 'type': 'unsigned'},
   {'name': 'ScanAngleRank', 'size': 4, 'type': 'floating'},
   {'name': 'UserData', 'size': 1, 'type': 'unsigned'},
   {'name': 'PointSourceId', 'size': 2, 'type': 'unsigned'},
   {'name': 'GpsTime', 'size': 8, 'type': 'floating'}]}}

## Importando dados para Pandas

In [30]:
import pandas as pd

In [33]:
df = pd.DataFrame(arrays[0])

In [34]:
df

,X,Y,Z,Intensity,ReturnNumber,NumberOfReturns,ScanDirectionFlag,EdgeOfFlightLine,Classification,ScanAngleRank,UserData,PointSourceId,GpsTime
0,333499.29,7395564.35,735.34,18,1,1,0,0,6,-14.0,17,6,356569.366065
1,333499.27,7395564.85,735.29,18,1,1,0,0,6,-14.0,17,6,356569.366073
2,333499.25,7395565.33,735.32,12,1,1,0,0,6,-14.0,17,6,356569.366082
3,333499.23,7395565.79,735.41,18,1,1,0,0,6,-14.0,17,6,356569.366090
4,333499.22,7395566.30,735.28,17,1,1,0,0,6,-14.0,17,6,356569.366097
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5273243,333499.68,7395571.85,735.36,39,1,1,1,0,6,15.0,40,6,363044.379533
5273244,333499.56,7395571.87,735.38,23,1,1,0,0,6,15.0,40,6,363044.381838
5273245,333499.97,7395571.89,735.48,25,1,1,0,0,6,15.0,40,6,363044.381845
5273246,333500.40,7395571.92,735.66,25,1,1,0,0,6,15.0,40,6,363044.381853
5273247,333500.75,7395571.93,735.55,19,1,1,0,0,6,15.0,40,6,363044.381861

In [38]:
df.Classification.unique()

array([ 6, 20,  2, 19,  5,  9], dtype=uint8)

In [48]:
# filtrando somente os grounds == 2
df[df.Classification == 2]

,X,Y,Z,Intensity,ReturnNumber,NumberOfReturns,ScanDirectionFlag,EdgeOfFlightLine,Classification,ScanAngleRank,UserData,PointSourceId,GpsTime
61,333499.25,7395550.72,724.76,6,1,1,0,0,2,-13.0,17,6,356569.383978
67,333499.14,7395553.60,724.86,5,1,1,0,0,2,-13.0,17,6,356569.384026
79,333498.93,7395559.48,724.78,18,1,1,0,0,2,-14.0,17,6,356569.384122
82,333498.88,7395560.92,724.87,5,1,1,0,0,2,-14.0,17,6,356569.384146
83,333498.86,7395561.39,724.94,17,1,1,0,0,2,-14.0,17,6,356569.384154
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5272889,333529.91,7395570.95,724.81,6,1,1,1,0,2,12.0,40,6,363044.342524
5273036,333520.93,7395570.68,725.13,21,2,2,0,0,2,13.0,40,6,363044.345964
5273050,333526.79,7395570.94,724.68,5,1,1,0,0,2,12.0,40,6,363044.346084
5273062,333531.58,7395571.19,724.77,4,1,1,0,0,2,12.0,40,6,363044.346180
5273093,333524.25,7395571.57,724.82,3,1,1,1,0,2,12.0,40,6,363044.360813