# Fator de Visão de Céu a partir do LiDAR

Podemos também determinar o Fator de Visão de céu, ou Sky View Factor diretamente do LiDAR sem gerar um raster.
Para fins de performance podemos reduzir a densidade de pontos para cerca de 1 metro de resolução e a partir de cada ponto de Ground clacular a coordenada astronômica (Azimute e ALtura) e a distância linear para cada ponto das classes de Edificação e outras feições.

Para esse primeiro teste vamos apenas usar uma folha SCM, sabendo que inerferências para visão de céu podem se estender muito além dos limites das dimensões de uma folha SCM.

In [1]:
import pdal

In [2]:
pipeline="""{
  "pipeline": [
    {
        "type": "readers.las",
        "filename": "arquivos/MDS/MDS_3314-231.laz"
    },
    {
        "type": "filters.sample",
        "radius": 1
    }
  ]
}"""

In [3]:
r = pdal.Pipeline(pipeline)
r.validate()
r.execute()
arrays = r.arrays

In [4]:
len(arrays[0])

471962

In [5]:
arrays[0][732]

(333486.38, 7395559.83, 725.18, 5, 1, 1, 0, 0, 2, -14., 17, 6, 356569.65684247)

In [6]:
#dir(r)
r.schema

{'schema': {'dimensions': [{'name': 'X', 'size': 8, 'type': 'floating'},
   {'name': 'Y', 'size': 8, 'type': 'floating'},
   {'name': 'Z', 'size': 8, 'type': 'floating'},
   {'name': 'Intensity', 'size': 2, 'type': 'unsigned'},
   {'name': 'ReturnNumber', 'size': 1, 'type': 'unsigned'},
   {'name': 'NumberOfReturns', 'size': 1, 'type': 'unsigned'},
   {'name': 'ScanDirectionFlag', 'size': 1, 'type': 'unsigned'},
   {'name': 'EdgeOfFlightLine', 'size': 1, 'type': 'unsigned'},
   {'name': 'Classification', 'size': 1, 'type': 'unsigned'},
   {'name': 'ScanAngleRank', 'size': 4, 'type': 'floating'},
   {'name': 'UserData', 'size': 1, 'type': 'unsigned'},
   {'name': 'PointSourceId', 'size': 2, 'type': 'unsigned'},
   {'name': 'GpsTime', 'size': 8, 'type': 'floating'}]}}

## Importando dados para Pandas

In [7]:
import pandas as pd

In [8]:
df = pd.DataFrame(arrays[0])

In [9]:
df

,X,Y,Z,Intensity,ReturnNumber,NumberOfReturns,ScanDirectionFlag,EdgeOfFlightLine,Classification,ScanAngleRank,UserData,PointSourceId,GpsTime
0,333499.29,7395564.35,735.34,18,1,1,0,0,6,-14.0,17,6,356569.366065
1,333499.23,7395565.79,735.41,18,1,1,0,0,6,-14.0,17,6,356569.366090
2,333499.20,7395566.79,735.25,15,1,1,0,0,6,-14.0,17,6,356569.366105
3,333499.15,7395568.21,735.37,14,1,1,0,0,6,-14.0,17,6,356569.366129
4,333499.10,7395569.68,735.30,17,1,1,0,0,6,-15.0,17,6,356569.366153
...,...,...,...,...,...,...,...,...,...,...,...,...,...
471957,333523.36,7395570.78,735.52,2,1,2,1,0,19,13.0,40,6,363044.324524
471958,333521.03,7395570.91,731.07,5,1,1,1,0,6,13.0,40,6,363044.342732
471959,333520.96,7395571.00,732.50,8,1,1,1,0,6,13.0,40,6,363044.342740
471960,333521.09,7395571.84,731.83,18,1,1,1,0,6,13.0,40,6,363044.360909
471961,333520.95,7395571.91,729.86,18,1,1,0,0,6,13.0,40,6,363044.364125

In [10]:
df.Classification.unique()

array([ 6, 20,  2, 19,  5,  9], dtype=uint8)

In [11]:
# filtrando somente os grounds == 2
df[df.Classification == 2]

,X,Y,Z,Intensity,ReturnNumber,NumberOfReturns,ScanDirectionFlag,EdgeOfFlightLine,Classification,ScanAngleRank,UserData,PointSourceId,GpsTime
18,333499.25,7395550.72,724.76,6,1,1,0,0,2,-13.0,17,6,356569.383978
20,333499.14,7395553.60,724.86,5,1,1,0,0,2,-13.0,17,6,356569.384026
26,333498.88,7395560.92,724.87,5,1,1,0,0,2,-14.0,17,6,356569.384146
38,333498.72,7395562.04,725.02,36,1,1,1,0,2,-14.0,17,6,356569.386890
77,333498.36,7395551.34,724.89,17,1,1,0,0,2,-13.0,17,6,356569.402162
...,...,...,...,...,...,...,...,...,...,...,...,...,...
471680,333563.96,7395552.14,724.30,15,1,1,0,0,2,9.0,40,6,363043.837829
471723,333558.16,7395554.04,724.33,11,1,1,0,0,2,10.0,40,6,363043.892247
471739,333556.44,7395554.74,724.53,8,1,1,0,0,2,10.0,40,6,363043.910399
471792,333530.38,7395555.62,724.47,6,1,1,0,0,2,12.0,40,6,363043.964401
471830,333561.42,7395560.70,724.59,16,1,1,1,0,2,9.0,40,6,363044.051052

## Calculando o Azimute entre dois pontos

In [25]:
import math

def Az(x1,y1,x2,y2):
    deg = math.degrees(math.atan2((x2 - x1),(y2 - y1)))
    if (deg < 0):
        deg += 360.0
    return deg

In [71]:
Az(1, 1, 1, 0)

180.0

## Calculando a Altura ou Elevação do ponto em relação ao Zenite

In [14]:
from scipy.spatial import distance

In [27]:
## Calculando altura
def altura_graus(x1, y1, z1, x2, y2, z2):
    altura = z2 - z1
    distancia = distance.euclidean([x1, y1], [x2, y2])
    return math.degrees(math.atan2(altura, distancia))
    #return distancia

altura_graus(0,0,0,1,1,1)

35.264389682754654

## Gerando pontos x,y,z

In [28]:
# Utilizando somente os 10 primeiros registros para fins de performance
df_ground = pd.DataFrame.from_records(df[df.Classification == 2][['X', 'Y', 'Z']].head(100))
#df_ground = df_ground.set_index(['X', 'Y', 'Z'])

In [29]:
df_ground

            X           Y       Z
0   333499.25  7395550.72  724.76
1   333499.14  7395553.60  724.86
2   333498.88  7395560.92  724.87
3   333498.72  7395562.04  725.02
4   333498.36  7395551.34  724.89
..        ...         ...     ...
95  333443.95  7395545.15  725.00
96  333443.40  7395540.76  724.61
97  333442.86  7395552.29  724.93
98  333440.83  7395551.85  724.89
99  333440.46  7395541.46  724.92

[100 rows x 3 columns]

In [30]:
df_building = pd.DataFrame.from_records(df[df.Classification == 6][['X', 'Y', 'Z']])
df_building = df_building.rename(columns={'X':'X1', 'Y':'Y1', 'Z':'Z1'})

In [42]:
%timeit df_building.to_numpy() - df_ground.to_numpy()[0, :]

2.83 ms ± 67.9 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

## Calculando o Azimute com Matriz de pontos

In [83]:
import numpy as np

def NdAz(nd_building, nd_ground):
    delta_x = nd_building[:, 0] - nd_ground[0, 0]
    delta_y = nd_building[:, 1] - nd_ground[0, 1]
    degree = np.arctan2(delta_x, delta_y) * 180 / np.pi
    degree[np.less(degree, 0)] += 360.0
    return degree

In [117]:
## Gerando dados de teste
test_ground = np.array([[0.,0.,0.], [1.,1.,1.]])
test_building = np.array([[0.,2.,2.], [2.,0,2.], [0.,-2.,2.], [-2.,0,2.], [-2.,9899.,2.]])

In [85]:
nd_az = NdAz(test_building, test_ground)
#df_building.to_numpy()[:, 0] - df_ground.to_numpy()[0, 0]
nd_az

array([  0.        ,  90.        , 180.        , 270.        ,
       359.98842393])

## Calculando a altura/elevação com matriz de pontos

In [156]:
## Calculando altura/elevação

from scipy.spatial import distance

def NdAltura(nd_building, nd_ground):
    altura = nd_building[:, 2] - nd_ground[0, 2]
    distancia = np.sqrt(np.sum((nd_building[:, [0,1]] - nd_ground[0, [0,1]])**2, axis=1))
    return distancia
    #return np.arctan2(altura, distancia) * 180 / np.pi


#dist = np.linalg.norm(a-b)

In [157]:
nd_altura = NdAltura(test_building, test_ground)
nd_altura

array([2.0000000e+00, 2.0000000e+00, 2.0000000e+00, 2.0000000e+00,
       9.8990002e+03])

In [ ]:
def tab_points():
    df3 = pd.DataFrame(columns=['X', 'Y', 'Z', 'X1', 'Y1', 'Z1'])
    for index, row in df_ground.iterrows():
        #dfb = df_building.copy()
        #dfb['X'], dfb['Y'], dfb['Z'] = index[0], index[1], index[2]
        #df3 = df3.append(dfb)

In [361]:
%timeit tab_points()

KeyboardInterrupt:

In [359]:
df_ground

Empty DataFrame
Columns: []
Index: [(333499.25, 7395550.72, 724.76), (333499.14, 7395553.600000001, 724.86), (333498.88, 7395560.92, 724.87), (333498.72000000003, 7395562.04, 725.02), (333498.36, 7395551.34, 724.89), (333496.74, 7395549.5, 724.79), (333496.41000000003, 7395558.79, 724.64), (333495.64, 7395559.58, 724.83), (333492.66000000003, 7395548.98, 724.82), (333492.2, 7395561.62, 724.92), (333491.42, 7395557.2, 724.63), (333491.36, 7395558.63, 724.79), (333491.27, 7395561.07, 724.85), (333490.45, 7395559.22, 724.86), (333490.01, 7395549.24, 724.87), (333489.62, 7395559.96, 724.92), (333488.83, 7395560.7700000005, 724.97), (333488.07, 7395558.58, 724.82), (333487.44, 7395552.83, 724.87), (333486.44, 7395558.46, 724.79), (333486.38, 7395559.83, 725.1800000000001), (333485.38, 7395559.7, 725.14), (333484.66000000003, 7395553.3, 725.12), (333484.09, 7395551.53, 724.74), (333483.85000000003, 7395558.33, 724.85), (333483.69, 7395559.37, 725.02), (333483.27, 7395547.5200000005, 724.77), (333483.08, 7395552.9, 724.67), (333482.87, 7395558.71, 724.88), (333482.51, 7395546.71, 724.82), (333482.32, 7395552.07, 724.82), (333481.34, 7395558.46, 724.5500000000001), (333480.15, 7395545.87, 724.83), (333478.98, 7395552.47, 724.99), (333478.15, 7395547.91, 724.94), (333476.61, 7395546.850000001, 724.74), (333476.39, 7395553.17, 724.77), (333476.11, 7395557.94, 725.02), (333475.91000000003, 7395545.19, 724.75), (333475.5, 7395556.82, 724.97), (333474.87, 7395551.84, 724.85), (333474.67, 7395557.66, 724.99), (333474.10000000003, 7395547.62, 724.77), (333473.67, 7395557.2700000005, 725.0), (333472.91000000003, 7395557.99, 725.0), (333472.31, 7395554.62, 724.69), (333472.25, 7395556.01, 724.99), (333470.69, 7395553.7, 724.88), (333470.05, 7395544.45, 724.83), (333469.87, 7395549.78, 724.94), (333469.72000000003, 7395554.21, 724.84), (333469.51, 7395557.37, 725.11), (333468.05, 7395555.62, 725.0), (333467.15, 7395543.8, 724.86), (333467.02, 7395547.68, 724.88), (333465.71, 7395556.51, 725.17), (333465.38, 7395546.5, 724.84), (333465.15, 7395553.33, 724.82), (333464.59, 7395545.87, 724.76), (333463.75, 7395542.43, 724.83), (333463.68, 7395544.38, 724.8100000000001), (333463.39, 7395553.16, 724.8000000000001), (333463.28, 7395555.99, 725.19), (333462.18, 7395546.19, 724.79), (333461.88, 7395554.93, 724.97), (333461.15, 7395553.41, 724.78), (333461.06, 7395555.78, 725.04), (333458.85000000003, 7395554.73, 724.98), (333458.25, 7395550.09, 724.89), (333458.2, 7395551.57, 724.85), (333457.61, 7395545.23, 724.99), (333457.37, 7395552.62, 724.71), (333456.51, 7395554.25, 724.9300000000001), (333456.12, 7395541.66, 724.74), (333456.07, 7395543.11, 724.75), (333454.93, 7395553.0200000005, 724.84), (333453.69, 7395551.07, 724.69), (333452.28, 7395543.51, 725.0), (333451.61, 7395542.67, 724.91), (333451.46, 7395547.07, 724.86), (333451.27, 7395548.73, 724.97), (333450.51, 7395547.78, 724.96), (333450.06, 7395540.67, 724.8000000000001), (333449.57, 7395552.3100000005, 724.8000000000001), (333449.18, 7395547.01, 724.76), (333448.65, 7395540.46, 724.73), (333447.69, 7395546.58, 724.86), (333447.35000000003, 7395552.78, 724.96), (333446.45, 7395541.03, 724.6800000000001), (333446.13, 7395550.3, 724.67), (333445.69, 7395540.16, 724.69), (333445.57, 7395543.49, 725.01), (333445.12, 7395552.66, 724.92), (333444.14, 7395539.850000001, 724.78), (333444.01, 7395543.79, 724.61), (333443.95, 7395545.15, 725.0), (333443.4, 7395540.76, 724.61), (333442.86, 7395552.29, 724.9300000000001), (333440.83, 7395551.850000001, 724.89), (333440.46, 7395541.46, 724.92)]

[100 rows x 0 columns]

In [346]:
df3

                X           Y       Z         X1          Y1      Z1
0       333499.25  7395550.72  724.76  333499.29  7395564.35  735.34
1       333499.25  7395550.72  724.76  333499.23  7395565.79  735.41
2       333499.25  7395550.72  724.76  333499.20  7395566.79  735.25
3       333499.25  7395550.72  724.76  333499.15  7395568.21  735.37
4       333499.25  7395550.72  724.76  333499.10  7395569.68  735.30
...           ...         ...     ...        ...         ...     ...
300787  333491.27  7395561.07  724.85  333520.79  7395569.75  730.02
300788  333491.27  7395561.07  724.85  333521.03  7395570.91  731.07
300789  333491.27  7395561.07  724.85  333520.96  7395571.00  732.50
300790  333491.27  7395561.07  724.85  333521.09  7395571.84  731.83
300791  333491.27  7395561.07  724.85  333520.95  7395571.91  729.86

[3910296 rows x 6 columns]

In [345]:
dft

X    333499.25                                                              \
Y   7395550.72
Z       724.76      724.76      724.76      724.76      724.76      724.76
X1   333499.29   333499.23   333499.20   333499.15   333499.10   333499.05
Y1  7395564.35  7395565.79  7395566.79  7395568.21  7395569.68  7395571.17
Z1      735.34      735.41      735.25      735.37      735.30      735.12

X                                                   ...   333491.27  \
Y                                                   ...  7395561.07
Z       724.76      724.76      724.76      724.76  ...      724.85
X1   333499.20   333499.26   333499.29   333499.23  ...   333520.80
Y1  7395563.14  7395563.07  7395521.99  7395523.29  ...  7395568.89
Z1      735.91      734.35      751.69      752.12  ...      730.88

X                                                                           \
Y
Z       724.85      724.85      724.85      724.85      724.85      724.85
X1   333566.96   333584.84   333585.86   333553.64   333520.79   333521.03
Y1  7395571.08  7395572.09  7395572.08  7395571.50  7395569.75  7395570.91
Z1      729.25      731.22      730.22      735.98      730.02      731.07

X
Y
Z       724.85      724.85      724.85
X1   333520.96   333521.09   333520.95
Y1  7395571.00  7395571.84  7395571.91
Z1      732.50      731.83      729.86

[3 rows x 3910296 columns]

In [181]:
def sky_view_factor(dx, dy, dz):
    #print(data_frame)
    df_ref_building = df_building
    df_ref_building['Azimute'] = df_ref_building[['X', 'Y', 'Z']].apply(lambda x: Az(dx, dy, x[0], x[1]), axis=1, raw=True)
    return math.sqrt(dx + dy)

In [172]:
%timeit df_svf = pd.DataFrame(df_ground[['X', 'Y', 'Z']].apply(lambda x: sky_view_factor(x[0], x[1], x[2]), axis=1, raw=True))

<ipython-input-171-33ca21ba65b4>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ref_building['Azimute'] = df_ref_building[['X', 'Y', 'Z']].apply(lambda x: Az(dx, dy, x[0], x[1]), axis=1, raw=True)

4.8 s ± 36.4 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [182]:
df_svf

              0
18  2780.116899

In [116]:
%timeit df_ref_building = pd.DataFrame(df_building.apply(lambda x: Az(45, 45, x.X, x.Y), axis=1))

11.5 s ± 182 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [146]:
df_b = df_building[['X','Y','Z']]

In [183]:
df_b.apply(lambda x: (x[0], x[1]), axis=1, raw=True)

0           (333499.29, 7395564.350000001)
1                  (333499.23, 7395565.79)
2                   (333499.2, 7395566.79)
3                  (333499.15, 7395568.21)
4         (333499.10000000003, 7395569.68)
                        ...
471956             (333520.79, 7395569.75)
471958             (333521.03, 7395570.91)
471959              (333520.96, 7395571.0)
471960             (333521.09, 7395571.84)
471961             (333520.95, 7395571.91)
Length: 300792, dtype: object

In [184]:
df_b.apply(lambda x: math.atan2(x[0], x[1]), axis=1, raw=True)

0         0.045064
1         0.045064
2         0.045064
3         0.045064
4         0.045064
            ...
471956    0.045067
471958    0.045067
471959    0.045067
471960    0.045067
471961    0.045067
Length: 300792, dtype: float64

In [201]:
%timeit seila  = df_b.X / df_b.Y

1.36 ms ± 19.2 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [203]:
%timeit seila.map(lambda x: math.degrees(math.atan(x)))

132 ms ± 571 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [206]:
df_new = pd.DataFrame(seila)

In [223]:
import numpy as np
%timeit df_new['atan'] = np.tan(df_new[0])

3.62 ms ± 179 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [219]:
df_new

               0    atan
0       0.045095  300792
1       0.045094  300792
2       0.045094  300792
3       0.045094  300792
4       0.045094  300792
...          ...     ...
471956  0.045097  300792
471958  0.045097  300792
471959  0.045097  300792
471960  0.045097  300792
471961  0.045097  300792

[300792 rows x 2 columns]